<?xml version="1.0" encoding="UTF-8"?>
<beans>


<!--     <bean id="dataSource" class="org.unitils.database.UnitilsDataSource" /> -->


    		
  <bean id="userDao" class="com.rb.gwthope.server.UserDaoImpl">
        <property name="entityManager" ref="entityManagerFactory"/>
    </bean>
  
    
</beans>