<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
	</listener-class>
	</listener>

	

  <!-- Servlets -->
<!--   <servlet> -->
<!--     <servlet-name>greetServlet</servlet-name> -->
<!--     <servlet-class>com.rb.gwthope.server.GreetingServiceImpl</servlet-class> -->
<!--   </servlet> -->

<!--   <servlet-mapping> -->
<!--     <servlet-name>greetServlet</servlet-name> -->
<!--     <url-pattern>/gwthope/greet</url-pattern> -->
<!--   </servlet-mapping> -->
  
  <!-- using spring4gwt servlet -->
  <servlet>
		<servlet-name>greetServlet</servlet-name>
		<servlet-class>org.spring4gwt.server.SpringGwtRemoteServiceServlet
	</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>greetServlet</servlet-name>
		<url-pattern>/gwthope/springGwtServices/*</url-pattern>
	</servlet-mapping>
  

  <!-- Default page to serve -->
  <welcome-file-list>	
    <welcome-file>gwthope.html</welcome-file>
  </welcome-file-list>

</web-app>
